* {
	margin: 0;
	padding: 0;
	word-break: break-word;
	font-family: var(--ulagadi);
}
html {
	font-size: 16px;
	overflow: auto;
}

body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	background-color: var(--secondary);
}

::-moz-selection {
	background: #fc921a;
}

::selection {
	background: #fc921a;
}

:root {
	--primary: #f7b733;
	--primary-variant: #fc4a1a;

	--secondary: #101010;
	--secondary-variant: #202020;

	--ulagadi-bold: 'UlagadiSansBold', sans-serif;
	--ulagadi: 'UlagadiSansLight', sans-serif;
}

.deep-1 {
	max-width: 100rem;
	padding-inline: 5rem;
}

.deep-2 {
	max-width: 65rem;
	padding-inline: 5rem;
}

@font-face {
	font-family: 'UlagadiSansBold';
	src: url('/fonts/UlagadiSansBold.woff2') format('woff2');
	font-style: normal;
}

@font-face {
	font-family: 'UlagadiSansLight';
	src: url('/fonts/UlagadiSansLight.woff2') format('woff2');
	font-style: normal;
}

.chalk-background {
	background-image: url('chalkboard.webp');
	background-repeat: repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ulagadi-bold);
}
